footer{
  background-color: black;
}

.footerText{
  font-size: 24px;
  font-weight: 800;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(to bottom, #5b4b31,#c0ae64,#583f26);
  font-family: 'Cinzel', 'Roboto';
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

@media (max-width: 450px){
  footer{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .footerText{
    margin: 0px;
  }
}

@media (max-width: 260px){
  footer{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .footerText{
    text-align: center;
    width: 108px;
  }
}