header{
    background-color: #1a1919;
    display: flex;
    justify-content: center;
    height: 105px;
}

.titleLogo, .Subtitle{
    color: white;
    font-family: 'cinzel';
    font-weight: bolder;
}

.titleLogo{
    font-size: 28px;
    margin-bottom: 0px;
}

.Subtitle{
    font-size: 18px;
    margin-top: -8px;
    margin-bottom: 0px;
}

ul{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    list-style-type: none;
}

.links{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'cinzel', 'Roboto';
    font-weight: 700;
}

.links:hover, .Subtitle:hover, .titleLogo:hover{
    color: red;
}

@media (max-width: 1050px){

    header{
        height: 350px;
    }

    ul{
        flex-direction: column;
    }


}