.home{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #132225;
}


.temp{
    font-size: 50px;
    font-weight: 800;
    background-image: linear-gradient(to bottom, #5b4b31,#c0ae64,#583f26);
    font-family: 'Cinzel', 'Roboto';
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.homePlayer{
    border-radius: 14px;
}

.homeParagraph{
    width: 750px;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    margin-top: 10;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom, #967a4e,#c0ae64,#8b653e);
    font-family: 'Cinzel', 'Roboto';
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}